$font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
$primary: #0a3d62;

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css';
@import 'bootstrap';

$footer-height: 120px;

main{
    min-height: calc( 100vh - $footer-height );
}

.footer{
    min-height: $footer-height;
    display: flex;
    align-items: center;
}
